<html>
<head>
  <title>Conservation Experiment</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="libfrontend.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div id="app" class="container-fluid">
    <h3>Number of synced users: {{ synced_users.length }}</h3>
    <h4>Both: {{bothEnd}}</h4><h4>Just Android: {{androidEnd - bothEnd}}</h4><h4>Just Browser: {{browserEnd - androidEnd}}</h4>
    <br>
    <h3>Synced Users:</h3>
    <template v-for="account in synced_users">
      <h3> {{account.email}} </h3>
      <div class="row">
          <template v-for="device in ['android', 'browser']">
              <div class="col-6">
                  <h4>{{ device }}</h4>
                  <template v-for="user in account[device]">
                    <h5>{{ user.id }}</h5>
                    <table class="table table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th><a href="https://en.wikipedia.org/wiki/ISO_week_date">ISO Week</a></th>
                          <th scope="col" >Frequent Goals:</th>
                          <th scope="col">Infrequent Goals: </th>
                        </tr>
                      </thead>
                      <tbody>
                        
                          <template v-for="(week, iso) in user.week_data">
                            <tr> 
                              <td> {{ iso }}</td>
                              <td>
                                <ul>
                                  <template v-for="domain in week.freq">
                                    <li>{{ domain }}</li>
                                  </template>
                                </ul>
                              </td>
                              <td>
                                <ul>
                                  <template v-for="domain in week.infreq">
                                    <li>{{ domain }}</li>
                                  </template>
                                </ul>
                              </td>
                            </tr>
                          </template>
                        
                      </tbody>
                    </table>
                  </template> 
              </div>
          </template>
          
          
      </div>
      
      <h5></h5>
    </template>
  </div>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        androidEnd: 0,
        browserEnd: 0,
        bothEnd: 0,
        devices: ['android', 'browser'],
        num_synced_users: 'Loading',
        synced_users: [
          /* ACCOUNT OBJECT SCHEMA:  {
            email: "emailhash",
            android: [
              {
                id: "userid",
                week_data: 
                  {
                    23: {
                      freq: [
                      "facebook.com",
                      "gmail.com"
                    ],
                    infreq: [
                      "youtube.com",
                      "apples.com"
                    ]
                    }
                  }
              }
            ],
            browser: [
              {
                id: "userid",
                week_data:
                  {
                    23: {
                      freq: [
                      "facebook.com",
                      "gmail.com"
                    ],
                    infreq: [
                      "youtube.com",
                      "apples.com"
                    ]  
                    }
                    
                  }
              }
            ]
          }*/
        ]
      }
    })
    let insertUser = function(user) {
      if (user["android"].length > 0  && user["browser"].length > 0){
        //  They should be at the top.
        app.synced_users.splice(app.bothEnd, 0, user)
        app.bothEnd += 1
        app.androidEnd += 1
        app.browserEnd += 1
      } else if (user["android"].length > 0) {
        app.synced_users.splice(app.androidEnd, 0, user)
        app.androidEnd +=  1
        app.browserEnd +=1
      } else {
        app.synced_users.splice(app.browserEnd, 0, user) 
        app.browserEnd += 1
      }

    }
    //Next, we need to fetch this data.
    const DEVICES = ["android", "browser"]
    getjson('/synced_emails').then(async function(users) {
      for (let user of users) {
        const user_stats = {email: user._id, "android" : [], "browser": []}
        // For each platform ...
        if (user_stats.email == "f653fba473726066017d092faf775b60a39bd4616590332eb815f0bb74fa22f2") {
          console.log("ACCOUNT OBJ: " + JSON.stringify(user))
        }
        for (let id of user['android']) {
          getjson('/freq_stats_for_user?id=' + id).then(function(stats){
            user_obj = {id: id, week_data: stats}
            user_stats["android"].push(user_obj)
            //Check if this user's stats are all done....
            if (user_stats["android"].length == user["android"].length
              && user_stats["browser"].length == user["browser"].length) {
                if (user_stats.email == "f653fba473726066017d092faf775b60a39bd4616590332eb815f0bb74fa22f2") {
                  console.log("LOGGING" + JSON.stringify(user_stats))
                }
                //This user's done! Let's add them.
                insertUser(user_stats)
            }
          })
        }
        for  (let id of user['browser'])  {
          getjson('/freq_stats_for_user_browser?id=' + id).then(function(stats){
            user_obj = {id: id, week_data: stats}
            user_stats["browser"].push(user_obj)
            
            if (user_stats["android"].length == user["android"].length
              && user_stats["browser"].length == user["browser"].length) {
                //This user's done! Let's add them.
                insertUser(user_stats)
            }
          })
        }
      }
    })
  </script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
